<div class="row">
    <div class="col-md-12">
        <h2>TDD Tools:</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel.without-margin">
                <div class="panel-heading text-primary text-center">XUnit</div>
                <div class="panel-body">xUnit.net is a free, open source, community-focused unit testing tool for the .NET Framework.</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel.without-margin">
                <div class="panel-heading text-primary text-center">NSubtitute</div>
                <div class="panel-body">A friendly substitute for .NET mocking libraries</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel.without-margin">
                <div class="panel-heading text-primary text-center">FluentAssertions</div>
                <div class="panel-body">.NET extension methods that allow you to more naturally specify the expected outcome of a TDD or BDD-style test.</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-default" href="http://xunit.github.io/" target="_blank">Learn more &raquo;</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-default" href="http://nsubstitute.github.io/" target="_blank">Learn more &raquo;</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-default" href="http://fluentassertions.com/" target="_blank">Learn more &raquo;</a>
        </div>
    </div>
</div>