<div class="row">
    <div class="col-md-12">
        <h2>WebApi Tools:</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel">
                <div class="panel-heading text-primary text-center">Owin</div>
                <div class="panel-body">The goal of the OWIN interface is to decouple server and application, encourage the development of simple modules for .NET web development, and, by being an open standard, stimulate the open source ecosystem of .NET web development tools.</div>
            </div>
            <div class="bottom"><a class="btn btn-default" href="http://owin.org/" target="_blank">Learn more &raquo;</a></div>
        </div>
        <div class="col-md-3">
            <div class="panel">
                <div class="panel-heading text-primary text-center">Unity IoC</div>
                <div class="panel-body">The Unity Container (Unity) is a lightweight, extensible dependency injection container with optional support for instance and type interception.</div>
            </div>
            <div class="bottom"><a class="btn btn-default" href="https://msdn.microsoft.com/en-us/library/dn223671(v=pandp.30).aspx" target="_blank">Learn more &raquo;</a></div>
        </div>
        <div class="col-md-3">
            <div class="panel">
                <div class="panel-heading text-primary text-center">Swashbuckle</div>
                <div class="panel-body">Seamlessly adds a Swagger to WebApi projects! Combines ApiExplorer and Swagger/swagger-ui to provide a rich discovery, documentation and playground experience to your API consumers.</div>
            </div>
            <div class="bottom"><a class="btn btn-default" href="https://github.com/domaindrivendev/Swashbuckle/wiki" target="_blank">Learn more &raquo;</a></div>
        </div>
        <div class="col-md-3">
            <div class="panel">
                <div class="panel-heading text-primary text-center">Swashbuckle.Examples</div>
                <div class="panel-body">A simple library which adds the <i>[SwaggerRequestExample]</i>, <i>[SwaggerResponseExample]</i> attributes to Swashbuckle.</div>
            </div>
            <div class="bottom"><a class="btn btn-default" href="https://github.com/mattfrear/Swashbuckle.Examples" target="_blank">Learn more &raquo;</a></div>
        </div>
    </div>
</div>
