
<div class="jumbotron">
    <h1>Task:</h1>
    <p class="lead">
        Create an ASP.Net MVC website with a page containing a text box to enter a name in and a submit button to search GitHub for the name.
        Have the back end call the GitHub users API (e.g. <a href="https://api.github.com/users/meanin" target="_blank">meanin user</a>) and get the users name, location and avatar url from the returned json. Use the repos_url value to get a list of all the repos for the user.
        On the results page, show the username, location, avatar and the 5 repos with the highest stargazer_count. As an alternative to ASP.NET MVC client you can write your application using a console app project.
        Use this opportunity to show us what you know, even if you wouldn’t ordinarily use the concepts in such a trivial example.
        Upload your work to GitHub and send us the url of the repository. If you don’t have a GitHub account you can register for a free one at <a href="https://github.com/join" target="_blank">Join github</a>. Please make sure that your repository is a public one
    </p>
</div>

<div>
    <h2>In this project used are:</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <ul>
            <li>Visual Studio 2017</li>
            <li>C# 6.0 and C# 7.0 features</li>
            <li>ASP.Net</li>
            <li>MVC 5</li>
            <li>WebAPI2</li>
        </ul>
    </div>
</div>    

@* IDENTITY SERVER SECTION *@

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading text-primary text-center">Identity Server 3</div>
            <div class="panel-body">
                <p>IdentityServer is a .NET/Katana-based framework and hostable component that allows implementing single sign-on and access control for modern web applications and APIs using protocols like OpenID Connect and OAuth2.</p>
                <p><a class="btn btn-default" href="https://github.com/IdentityServer/IdentityServer3" target="_blank">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_WebApiTools")
@Html.Partial("_TddTools")