
<div class="jumbotron">
    <h1>Task:</h1>
    <p class="lead">
        Create an ASP.Net MVC website with a page containing a text box to enter a name in and a submit button to search GitHub for the name.
        Have the back end call the GitHub users API (e.g. <a href="https://api.github.com/users/meanin" target="_blank">meanin user</a>) and get the users name, location and avatar url from the returned json. Use the repos_url value to get a list of all the repos for the user.
        On the results page, show the username, location, avatar and the 5 repos with the highest stargazer_count. As an alternative to ASP.NET MVC client you can write your application using a console app project.
        Use this opportunity to show us what you know, even if you wouldn’t ordinarily use the concepts in such a trivial example.
        Upload your work to GitHub and send us the url of the repository. If you don’t have a GitHub account you can register for a free one at <a href="https://github.com/join" target="_blank">Join github</a>. Please make sure that your repository is a public one
    </p>
</div>

<div>
    <h2>In this project used are:</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <ul>
            <li>Visual Studio 2017</li>
            <li>C# 6.0 and C# 7.0 features</li>
            <li>ASP.Net</li>
            <li>MVC 5</li>
            <li>WebAPI2</li>
        </ul>
    </div>
</div>    

@* IDENTITY SERVER SECTION *@

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading text-primary text-center">Identity Server 3</div>
            <div class="panel-body">
                <p>IdentityServer is a .NET/Katana-based framework and hostable component that allows implementing single sign-on and access control for modern web applications and APIs using protocols like OpenID Connect and OAuth2.</p>
                <p><a class="btn btn-default" href="https://github.com/IdentityServer/IdentityServer3" target="_blank">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>

@* WEB API TOOLS SECTION *@

<div class="row">
    <div class="col-md-12">
        <h2>WebApi Tools:</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel">
                <div class="panel-heading text-primary text-center">Owin</div>
                <div class="panel-body">The goal of the OWIN interface is to decouple server and application, encourage the development of simple modules for .NET web development, and, by being an open standard, stimulate the open source ecosystem of .NET web development tools.</div>
            </div>
            <div class="bottom"><a class="btn btn-default" href="http://owin.org/" target="_blank">Learn more &raquo;</a></div>
        </div>
        <div class="col-md-3">
            <div class="panel">
                <div class="panel-heading text-primary text-center">Unity IoC</div>
                <div class="panel-body">The Unity Container (Unity) is a lightweight, extensible dependency injection container with optional support for instance and type interception.</div>
            </div>
            <div class="bottom"><a class="btn btn-default" href="https://msdn.microsoft.com/en-us/library/dn223671(v=pandp.30).aspx" target="_blank">Learn more &raquo;</a></div>
        </div>
        <div class="col-md-3">
            <div class="panel">
                <div class="panel-heading text-primary text-center">Swashbuckle</div>
                <div class="panel-body">Seamlessly adds a Swagger to WebApi projects! Combines ApiExplorer and Swagger/swagger-ui to provide a rich discovery, documentation and playground experience to your API consumers.</div>
            </div>
            <div class="bottom"><a class="btn btn-default" href="https://github.com/domaindrivendev/Swashbuckle/wiki" target="_blank">Learn more &raquo;</a></div>
        </div>
        <div class="col-md-3">
            <div class="panel">
                <div class="panel-heading text-primary text-center">Swashbuckle.Examples</div>
                <div class="panel-body">A simple library which adds the <i>[SwaggerRequestExample]</i>, <i>[SwaggerResponseExample]</i> attributes to Swashbuckle.</div>
            </div>
            <div class="bottom"><a class="btn btn-default" href="https://github.com/mattfrear/Swashbuckle.Examples" target="_blank">Learn more &raquo;</a></div>
        </div>
    </div>
</div>

@* TDD TOOLS SECTION *@

<div class="row">
    <div class="col-md-12">
        <h2>TDD Tools:</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel.without-margin">
                <div class="panel-heading text-primary text-center">XUnit</div>
                <div class="panel-body">xUnit.net is a free, open source, community-focused unit testing tool for the .NET Framework.</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel.without-margin">
                <div class="panel-heading text-primary text-center">NSubtitute</div>
                <div class="panel-body">A friendly substitute for .NET mocking libraries</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel.without-margin">
                <div class="panel-heading text-primary text-center">FluentAssertions</div>
                <div class="panel-body">.NET extension methods that allow you to more naturally specify the expected outcome of a TDD or BDD-style test.</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-default" href="http://xunit.github.io/" target="_blank">Learn more &raquo;</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-default" href="http://nsubstitute.github.io/" target="_blank">Learn more &raquo;</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-default" href="http://fluentassertions.com/" target="_blank">Learn more &raquo;</a>
        </div>
    </div>
</div>
