@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Created by meanin<br />
    Poland<br />
    <strong>Github:</strong>   <a href="https://github.com/meanin" target="_blank">Github/meanin</a><br />
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:meanin@wp.pl">meanin@wp.pl</a><br />
</address>