@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Github Viewer</h1>
    <p class="lead">ASP.NET MVC and WebAPI2 application for user profile search and repositories listing</p>
</div>